*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.primary-btn{
        font-size: 20px;
        color: white;
        padding: 20px 25px;
        background: #FF900E;
        border: 0;
        border-radius: 8px;
        cursor: pointer;
        transition: transform 0.2s ease;
}
.primary-btn:hover{
    border-radius: 20px;
    transform: translateY(-0.5em);
}
/*-----------------------------------------
                Header Styles
------------------------------------------- */

.header{
    background-color: #fff4e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 230px;
}
.company-name{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.menu-container{
    display: flex;
    gap: 40px;
}
.menu-item{
    list-style: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    /* margin-left: 40px; */
}
/* ------------------------------Banner Styles------------------------------- */
.banner-container{
    background-color: #fff4e7;
    text-align: center;
    padding: 100px 0 30px 0;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    font-size: 16px;
    margin: 30px 0;
}
.banner-photo img{
    height: 700px;
    width: 1200px;
    margin-top: 50px;
}
/* -----------------------------Article Section Style------------------------- */
.article-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 130px 150px;
}
.article-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
}
.article-title{
    font-size: 45px;
}
.article-description{
    font-size: 16px;
    color: #727272;
    margin: 15px 0;
}
/* ----------------------Feature Section Design---------------------- */
.feature-container{
    display: flex;
    gap: 100px;
    padding: 50px 150px;
}
.feature-heading{
    border-left: 5px solid #FF900E;
    border-radius: 5px;
    padding-left: 5px;
}
.feature-title{
    font-size: 45px;
}
.description{
    font-size: 16px;
    color: #727272;
    margin-top: 20px;
}
.feature{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 20px 0;
    padding: 30px;
}

.feature-name{
    font-size: 20px;
    color: #131313;
}
.feature-description{
    font-size: 16px;
    color: #727272;
    margin: 10px 0;
}

.feature-btn{
    background-color: #FF900E;
    font-size: 65px;
    color: white;
    padding: 40px;
    border: 0;
    border-radius: 15px;
    transform: translate(-60px, -150px);
    line-height: 40px;
    cursor: pointer;
}
/* -------------------Fact section--------------------- */
.facts-container{
    padding-left: 150px;
}
.fact-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.fact-description{
    font-size: 16px;
    color: #727272;
    margin-top: 20px;
}
.achievement-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 100px 150px;
}
.achievement{
    height: 170px;
    width: 200px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 36px;
    text-align: center;
    transition: box-shadow 0.5s ease-out, transform 0.2s linear, border-radius 0.2s linear;
}
.achievement h3{
    font-size: 45px;
    color: #424242;
    margin-top: 15px 0;
    
}
.achievement h5{
    font-size: 20px;
    color: #727272;
}
.achievement:hover{
    box-shadow: inset 20em 0 0 0 #8fc866;
    border-radius: 50px;
    transform: translateY(-0.75em);
}
/*-----------------------Bonus Section Styles ----------------  */
.contact-section-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 100px 0;
}
.form-container form{
    display: flex;
    flex-direction: column;
    padding: 60px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.input-title{
    font-size: 40px;
    font-weight: 600;
}
.form-container form input{
    height: 50px;
    width: 500px;
    border: 1px solid #8fc866;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 20px 0;
}
form textarea{
    height: 200px;
    border: 1px solid #FF900E;
    border-radius: 7px;
    padding: 20px;
    font-size: 20px;
}
form div {
    margin-top: 20px;
}
.contact-info-container{
    padding: 60px 70px;
    border-radius: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.contact-title{
    font-size: 45px;
}
.contact-details{
    width: 350px;
    margin: 50px 0;
}
.detail{
    font-size: 25px;
}
.detail span{
    font-weight: bolder;
}
.fa-solid{
    color: rgb(31, 18, 91);
}
/*------------------------------------Sponsor section styles -----------------------*/
.sponsor-container{
    text-align: center;
    margin: 100px 0;
}
.sponsor-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}
.sponsor-description{
    font-size: 16px;
    color: #727272;
}
.sponsor-icon{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 50px;
}
.sponsor-icon img{
    height: 50px;
    filter: grayscale(100%);
}
/*-------------------Footer Section Styles ---------*/
footer{
    padding: 0 240px;text-align: center;
    margin: 100px 0;
}
.footer-container{
    background-color: #FFF4E7;
    padding: 30px 200px;
    border-radius: 8px;
}
.footer-container p{
    font-size: 20px;
    color: #424242;
}
/* -----------------------------Responsive Styles For Mobile Device------------------------ */
@media only screen and (max-width:576px) {
    /* Header responsive */
    .header{
        flex-direction: column;
        gap: 50px;
        padding: 20px 0;
    }
    .company-name{
        text-align: center;
        font-size: 25px;
    }
    .menu-container{
        flex-direction: column;
        align-items: flex-start;
    }

    /*------------------ Banner responsive----------- */
    .banner-container{
        padding: 30px 20px;
    }
    .banner-photo img{
        width: 300px;
        height: 250px;
        object-fit: cover;
    }
    /*-----------Article Responsive---------- */
    .article-container{
        flex-direction: column;
        margin: 50px 0;
        text-align: center;
    }
    .article-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .article-description{
        padding: 0 20px;
    }
    /* ----------Feature Responsive----------- */
    .feature-container{
        flex-direction: column;
        padding: 0;
    }
    .description{
        padding: 0 20px;
    }
    .feature-img{
        text-align: center;
    }
    .feature-img img{
        width: 350px;
        height: 420px;
        object-fit: cover;
    }
    .feature-btn{
        transform: translate(20px, -50px);
        font-size: 35px;
        padding: 20px 20px;
        cursor: pointer;
    }
    /* -------facts Responsive ------------*/
    .facts-container{
        margin-top: 50px;
        padding: 10px 20px;
    }
    /* ---------------Achievement Responsive------------- */
    .achievement-container{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
        margin: 20px 10px;
    }
    /*----------------Bonus Responsive-----------------  */
    .contact-section-container{
        flex-direction: column-reverse;
        padding: 0 10px;
    }
    .form-container form input{
        width: 100%;
        padding: 20px 0;
    }
    .form-container form{
        padding: 30px 10px;
    }
    .form-container form input{
        padding: 20px 5px;
    }
    .contact-info-container, .contact-details{
        padding: 20px 10px;
    }
    .detail{
        font-size: 16px;
        height: 20px;
    }
    /*----------------Sponsor Responsive -----------*/
    .sponsor-container{
        margin: 50px 0;
    }
    .sponsor-icon{
        flex-direction: column;
        align-items: center;
    }
    .sponsor-icon img{
        width: 100px;
    }
    /*-----------Footer Responsive ----------*/
    footer{
        padding: 0 10px;
    }
    .footer-container{
        padding: 10px;
    }
}